@font-face {
  font-family: 'petitaBold';
  src: url('petita/PetitaBold.ttf');
}

@font-face {
  font-family: 'petitaLight';
  src: url('petita/PetitaLight.ttf');
}

@font-face {
  font-family: 'petitaMedium';
  src: url('petita/PetitaMedium.ttf');
}


header {
	width:100%;
	height: 19.5%;
	/*position: fixed;*/
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	font-family: 'petitaLight', Arial, sans-serif;

}

#bgvid {
  display: none;
}

#fixedHeader {
	width: 100%;
  /*position: fixed;
  z-index: 100;
  background-color: white;*/
	height: 100%;
	text-decoration: none;
}

#bigNav {
  height: 0;
  widht: 0;
  visibility: hidden;
}

#bigNav img {
  visibility: hidden;
}

#smallNav {
  position: absolute;
  top: 2%;
  left: 2%;
  z-index: 100%;
}

#smallNav img {
 width: 40;
 height: 40;
}

#dropDown {
  float: right;
  /*width: 77%;*/
  padding-left: 30px;
  -webkit-padding-left: 30px;
  padding-top: 14px;
  -webkit-padding-top: 14px;
  display:none;
}

#dropDown .active {

}

#dropDown li{
  float: left;
  font-size: 12px;
  padding-right: 1%;
  -webkit-padding-right: 1%;
  padding-left: 1%;
  -webkit-padding-left: 1%;
  font-family: 'petitaLight', Arial, sans-serif;
  /*border-right: .5 solid black;
  -webkit-border-right: .5 solid black;
  border-left: .5 solid black;
  -webkit-border-left: .5 solid black;*/

}

#dropDown li a {
  text-decoration: none;
}

#dropdown #link1 {
  /*padding-right: 5px;*/
}

#dropdown #link2 {
  padding-left: 5px;
  -webkit-padding-left: 5px;
  border-left: 1px solid black;
  -webkit-border-left: 1px solid black;
  border-right: 1px solid black;
  -webkit-border-right: 1px solid black;
  padding-right: 5px;
  -webkit-padding-right: 5px;
}

#dropdown #link3 {
  border-right: 1px solid black;
  -webkit-border-right: 1px solid black;
  padding-right: 5px;
  -webkit-padding-right: 5px;
}

#dropDown .active {
  opacity: .5;
  color: grey;
}

#dropDown .active2 {
  opacity: .5;
  border-color: grey;
  -webkit-border-color: grey;
  color: grey;
}

/*#dropDown .active3 {
  background-color: grey;
}*/

#projectLinks {
  position: absolute;
  display: none;
  left: 28%;
  top: 65%;
}

#projectLinks a {
  font-size: 10px;
  margin-left: 1%;
  margin-right: 1%;

}

/*#leftNav {
	float: left;
	width:100%;
	height: 150px;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	font-family: 'petitaLight', Arial, sans-serif;
}*/

/*#rightNav {
	float:left;
	width: 42%;
	height: 150px;
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	font-family: 'petitaLight', Arial, sans-serif;
}*/

/*#leftNav a {
	margin: auto;
	text-decoration: none;
	border: 1px solid black;
	padding:10px;
}*/

/*#rightNav a {
	margin: auto;
	text-decoration: none;
		border: 1px solid black;
		padding:10px;
}*/

/*#leftNav a:hover {
	background-color: #00E5EE;
}*/

/*#logo {
	margin-left:43%;
	background-color: white;
	height: 15%;
	width: 15%;
	float: left;

}

img {
	height: 150px;
	width: 150px;
	animation: fadin 2s;
}*/

#vidHolder {
	position: absolute;
	top: 100;
	width:100%;
	background-color: white;
  display: -webkit-box;
	display: -moz-box;
  display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

}

#bgimage {
  margin: auto;
  /*padding-right: 24px;*/
  padding-top: 64px;
}

#bgvid {
	/*position: absolute;*/
	/*width: 100%;
	height: 500px;
	opacity: .4;
  z-index: 0;*/

	/*background: url(polina.jpg) no-repeat;
	background-size: cover;*/
}

#headingWrapper {
	position: absolute;
	width: 100%;
	height: 100px;
	/*left: 24%;*/
	top: 77px;
  left: -20;
	display:flex;
}

#heading {
	margin: auto;
}

#nameHolder {
	margin: auto;
}

#name {
	text-align: center;
	font-family: 'petitaMedium', Arial, sans-serif;
	font-size: 3em;
	letter-spacing: normal;
	display: none;
	padding-bottom: 15px;
	padding-left: 45px;
}

@media (max-width: 516px) {
  #name {
    font-size: 1.5em;
    padding-left: 61px;
  }
  #words {
    font-size: 12px;
    padding-left: 5px;
  }
}

#words {
	width: 100%;
	/*margin-right: 5%;
	margin-left: 13%;*/
  vertical-align: top;
  display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  zoom: 1;
	font-family: 'petitaBold', Arial, sans-serif;
}


#one {
	margin-left: 18%;
	width: 20%;
	display: none;
}

#two {
	width: 20%;
	margin-left: 10%;
	margin-right: 10%;
	display: none;
}

#three {
	width: 20%;
	display: none;
}

#middle {
	position: absolute;
	top: 800;
	width: 100%;
	height: 2550px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

#aboutMe {
	margin: 5%;
	width: 100%;
	height: 800px;
	display: block;
}

.container {
	margin: auto;
	width: 200;
	height: 550px;

}

.circle {
	border: 5px solid black;
	border-radius: 50%;
	width: 200px;
	height: 200px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.icons {
	margin: auto;
	height: 100px;
	width: 100px;
}

.arrow {
	margin-left: 41px;
	margin-top: 30px;
}

.container p {
	height: 250px;
	font-family: 'petitaLight', Arial, sans-serif;
	margin: auto;
	text-align: center;
	margin-top: 50px;
  margin-left: 11px;
}

#projects {
	position: absolute;
	top: 2500;
	width: 100%;
	height: 675px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	/*border-top: 1px solid black;*/
}

#projectsContainer {
	width: 100%;
	height: 650px;
	margin: auto;
	display: block;
}

#projects h1 {
	width: 100%;
	/*height: 50px;*/
	text-align: center;
}

.project {
	margin: auto;
	height: 50px;
	width: 80%;
	display: block;
	border: 1px solid black;
	font-family: 'petitaLight', Arial, sans-serif;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.project h2 {

	width: 80%;
	height: 50px;
	vertical-align: middle;
	position: absolute;
	text-align: center;
	padding-top: 10px;
	font-size: 2em;
}

.project img {
	margin-top:16%;
  margin-left: 5%;
	width: 90%;
	height: 200px;
	vertical-align: middle;
	display: inline-block;
	border: 1px solid black;
}

.project button {
  margin-top:5%;
  margin-left: 40%;
  height: 50px;
  width: 20%;
  vertical-align: middle;
  display: inline-block;
  font-family: 'petitaLight', Arial, sans-serif;
	font-size: 1em;
	background-color: white;
	border: 1px solid black;
	outline: 0;
}

.project button:hover {
	background-color: #00E5EE;
	/*text-transform: uppercase;*/
}

#connect {
	position: absolute;
	top: 3250px;
	width: 100%;
	height: 700px;
	/*border-top: 1px solid black;*/
	display: block;
}

#email {
	margin: auto;
	width: 90%;
	height: 500px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	font-family: 'petitaLight', Arial, sans-serif;
	font-size: 2em;
}

/*#cover {
position: abosolute;
top:2200px;
width: 50%;
opacity: .5;
background-color: gray;
}*/


#formHolder {
	margin: auto;
	border: 1px solid black;
}

#formHolder input {
	width: 90%;
}

#formHolder h1 {
	width: 90%;
	margin-top: 5%;
	margin-left: 5%;
	text-align: center;
}


#nameInput {
	height: 30px;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
}

#emailInput {
	height: 30px;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
}

#messageInput {
	height: 200px;
	width: 90%;
	margin-top: 5%;
	margin-bottom: 5%;
	margin-left: 5%;
	text-align: left;
  padding-left:5;
  padding-top:5;
  padding-bottom:5;
  padding-right: 5;
	resize: none;
	border: 1px solid grey;
}

#send {
	width: 50%;
	height: 70px;
	margin-left:25%;
	margin-bottom: 5%;
	font-family: 'petitaLight', Arial, sans-serif;
	font-size: .5em;
	background-color: white;
	border: 1px solid black;
	outline: 0;
}

#send:hover {
	background-color: #00E5EE;
	/*text-transform: uppercase;*/
}

#socialSection {
	/*position: absolute;*/
	margin: auto;
	width: 100%;
	height: 700px;
	float: left;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	/*top: -500px;*/
}

#social {
	margin-top: 10%;
	height: 600px;
	width: 100%;
}

.socialHolders {
	height: 180px;
	width: 45%;
	border: 1px solid black;
	margin: auto;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

}

.socialHolders a {
	margin: auto;
	vertical-align: middle;
	display: inline-block;
	height: 100px;
	width: 100px;
}

.socialHolders a img {
	height: 100px;
	width: 100px;
}

.socialholders:hover {
	background-color: #00E5EE;
	/*border-radius: 10%;*/
}
.rows {
	height: 200px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

input, textarea{
	padding-left: 5;
	padding-right: 5;
	outline: 0;
	border: 1px solid grey
}

.tooltip {
	display:none;
	position:absolute;
	border:1px solid black;
	background-color: white;
	border-radius:5px;
	padding:10px;
	color: black;
	font-size:10px;
	font-family: 'petitaLight', Arial, sans-serif;
  opacity: .7;
}

a:active {
  color: black;
}

a:visited {
  color: black;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


//////////////////////////////////////
